.wrapper {
  padding: 0 0 0 40px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
  background-color: #FFFFFF;
  width: 100%;
}

.pageTitle {
  font-size: 24px;
  font-weight: bold;
  color: #191970;
  margin-top: 0;
  margin-bottom: 12px;
  padding-left: 5px;
}

.container {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0;
}

.anatomyImage {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 6px;
  border: 2px solid #B0C4DE;
  margin: 0;
}

.indicator {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: rgba(172, 185, 203, 0.9);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 2px 4px hsla(180, 12%, 76%, 0.1);
}

.icon {
  color: #555;
}

.label {
  font-weight: bold;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.healthy {
  background-color: #4CAF50;
}

.warning {
  background-color: #FFC107;
}

.heart {
  top: 65px;
  left: 150px;
}

.knee {
  top: 200px;
  left: 20px;
}
