.topBar {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 8px 24px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 12px;
  width: 80%;
  max-width: 1000px;
}

.searchBar {
  flex: 1;
   min-width: 0;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  background-color: #fff;
  max-width: 1520px;
}

.notificationIcon {
  font-size: 20px;
  color: #121481;
  cursor: pointer;
  flex-shrink: 0; /* Prevent shrinking */
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;
  min-width: 0;
}

.topBar {
  margin-bottom: 16px; /* add space below the top bar */
}

.notificationIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background-color: #F8FAFC;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: background-color 0.2s ease;
}
